<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- AngularJS -->
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="/ngDialog/css/ngDialog.min.css">
	<link rel="stylesheet" href="/ngDialog/css/ngDialog-theme-default.min.css">
</head>
<body>

	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8" ng-show="showErrorMessage">
			<span ng-model="message" class="btn btn-primary btn-block" style="background-color:#FF6666;">{{message}}</span>
		</div>
		<div class="col-md-2"></div>
	</div>

	<div class="row">
		<div class="col-sm-2">
			<div class="row" style="padding-bottom: 10px;">
				<div class="col-md-2"></div>
				<div class="col-md-8">
					<button type="button" class="btn btn-default" style="width: 40px; height: 25px; padding-top: 2px !important;" ng-click="openNewCateogry()">
						<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
					</button>
				</div>
				<div class="col-md-2"></div>
			</div>
		</div>
		<div class="col-sm-8">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>#</th>
						<th>Category Name</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="category in categories | orderBy: 'categoryType'">
						<td>{{ category.categoryId }}</td>
						<td>{{ category.categoryType }}</td>
						<td style="padding-top: 6px !important; padding-left: 0px !important; width: 38px;">
							<button type="button" class="btn btn-default" aria-label="Left Align" style="width: 40px; height: 25px; padding-top: 2px !important;" ng-click="openUpdateCategory(category.categoryId)">
								<span class=" glyphicon glyphicon-pencil" aria-hidden="true"></span>
							</button>
						</td>
						<td style="padding-top: 6px !important; padding-left: 0px !important; width: 38px;">
							<button type="button" class="btn btn-default" aria-label="Left Align" style="width: 40px; height: 25px; padding-top: 2px !important;" ng-click="delete(category.categoryId)" ng-confirm-click="Are you sure you want to delete the selected category?">
								<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-sm-2"></div>
	</div>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

	<!-- Angular App -->
	<script src="/order.management/controllers/orderManagementApp.js"></script>
	<script src="/order.management/controllers/admin/usersController.js"></script>
	<script src="/ngDialog/js/ngDialog.min.js"></script>
</body>
</html>