<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- AngularJS -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="/order.management/css/admin/categories.css">
</head>
<body ng-app="orderManagement" ng-controller="newUpdateCategoryController">

  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10" style="text-align: center">
      <h1>New category</h1>
    </div>
    <div class="col-md-1"></div>
  </div>

  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10" ng-show="showErrorMessage">
      <span ng-model="message" class="btn btn-primary btn-block" style="background-color:#FF6666;">{{message}}</span>
    </div>
    <div class="col-md-1"></div>
  </div>

  <div class="row" style="padding-top: 10px;">
    <div class="col-md-1"></div>
    <form class="col-md-10" name="newCategoryForm">
      <div class="form-group">
        <input ng-model="category.categoryType" type="text" class="form-control input-lg" placeholder="Category name" required>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-sm-1"></div>
          <div class="col-sm-5">
            <button class="btn btn-primary btn-lg btn-block" ng-click="submit()">Submit</button>
          </div>
          <div class="col-sm-5">
            <button class="btn btn-primary btn-lg btn-block" style="background-color:#FF6666;" ng-click="cancel()">Cancel</button>
          </div>
        </div>
        <div class="col-sm-1"></div>
      </div>
      <span ng-show="false"> {{ formValid = newCategoryForm.$valid }} </span>
    </form>
    <div class="col-md-1"></div>
  </div>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  <!-- Angular App -->
  <script src="/order.management/controllers/orderManagementApp.js"></script>
  <script src="/ngDialog/js/ngDialog.min.js"></script>
</body>
</html>