.board {
	background-image: url(/order.management/img/table.gif); 

	background-color: transparent; 

	border: none;

	width: 183px; 
	height: 169px; 
}

.board:active {
	background-image: url(/order.management/img/table.gif);
}

.ngdialog-content{
	width: 1000px !important;
	height: 560px !important;
}

.ngdialog.ngdialog-theme-default {
  padding-top: 60px !important;
}
