<style>
  .activ {
    background-color: #286090 !important;
  }
  .notActiv {
    background-color: #337AB7 !important;
  }
</style>

<nav class="navbar navbar-default"></nav>
<nav class="navbar navbar-default navbar-fixed-top" ng-controller="navbarController" style="background-color: #337AB7;">
  <div class="container">
    <div class="navbar-header" style="color: white;">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/order.management/home.html" style="color: white;"> Order Management </a>
    </div>
    <div class="navbar-collapse collapse">
     <ul class="nav navbar-nav" ng-show="showNavBarMenu">
      <li ng-repeat="tab in tabs" ng-class="tab.active ? 'activ' : 'notActiv'" ng-click="selectTab(tab.name)"> <a href="#" style="color: white;">{{ tabName(tab.name) }}</a> </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="active" ng-click="logout()"><a href="?logout" style="color: white; background-color: #286090;"> {{ loggedInUser }} <span class="sr-only">(current)</span></a></li>
    </ul>
  </div>
</div>
</nav>