<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Order Management - Home</title>
	
  	<!-- AngularJS -->
  	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/order.management/css/home.css">
    <link rel="stylesheet" href="/ngDialog/css/ngDialog.min.css">
    <link rel="stylesheet" href="/ngDialog/css/ngDialog-theme-default.min.css">
  </head>
  <body ng-app="orderManagement" ng-controller="homeController">
    <div ng-include src="'/order.management/fixed-top-navbar.html'"></div>

    <div style="padding-top:10px; padding-left: 50px; padding-right: 50px;">
      <div class="row" ng-repeat="tableRow in tables" style="padding: 10px 10px 10px 10px">
          <div class="col-md-2" ng-repeat="table in tableRow track by $index">
            <button class="btn btn-primary btn-lg btn-block board" ng-show="table.show" ng-click="openTableOrder(table.tableNumber)">
              <span ng-style="table.hasOrder ? {'color': '#FF6666'} : {}">#{{ table.tableNumber }}</span>
            </button>
          </div>
      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    
    <!-- Angular App -->
    <script src="/order.management/controllers/orderManagementApp.js"></script>
    <script src="/order.management/controllers/homeController.js"></script>
    <script src="/order.management/controllers/navbarController.js"></script>
    <script src="/order.management/controllers/tableController.js"></script>
    <script src="/ngDialog/js/ngDialog.min.js"></script>
  </body>
</html>