<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Order Management - Login</title>
	
	<!-- AngularJS -->
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  </head>
  <body ng-app="orderManagement" ng-controller="loginController">
  	
  	<div class="row" style="padding-top: 200px">
  		<div class="col-md-4"></div>
  		<div class="col-md-4" ng-show="showErrorMessage">
  			<span ng-model="message" class="btn btn-primary btn-block" style="background-color:#FF6666;">{{message}}</span>
  		</div>
  		<div class="col-md-4"></div>
  	</div>
  	
  	<div class="row" style="padding-top: 10px">
	  	<div class="col-md-4"></div>
		<form class="col-md-4" name="loginForm">
		    <div class="form-group">
		        <input ng-model="user.username" type="text" class="form-control input-lg" placeholder="Username" required>
		    </div>
		    <div class="form-group">
		        <input ng-model="user.password" type="password" class="form-control input-lg" placeholder="Password" required>
		    </div>
		    <div class="form-group">
		        <button class="btn btn-primary btn-lg btn-block" ng-click="submitLogin()">Sign In</button>
		    </div>
		    <span ng-show="false"> {{ formValid = loginForm.$valid }} </span>
		</form>
		<div class="col-md-4"></div>
	</div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    
    <!-- Angular App -->
    <script src="/order.management/controllers/orderManagementApp.js"></script>
    <script src="/order.management/controllers/loginController.js"></script>
    <script src="/ngDialog/js/ngDialog.min.js"></script>
  </body>
</html>