<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- AngularJS -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="/order.management/css/home.css">
  <link rel="stylesheet" href="/order.management/css/table.css">
</head>
<body ng-app="orderManagement" ng-controller="tableController">

    <div class="row" style="height: 440px">
     <!-- Left Panel - Order -->
     <div class="col-md-6">
      <div class="info" style="padding-bottom: 5px !important"> Table Number: <span style="color: #337AB7">#{{ tableNumber }}</span></div>
      <div class="info" style="padding-top: 0px !important; padding-bottom: 0px !important"> Order Number: 
        <span ng-style="order.orderNumber ? {'color': '#337AB7'} : {'color': '#FF6666'}"> {{ order.orderNumber ? order.orderNumber : 'No open order'}} <span>
      </div>
      <div>
       <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th style="text-align: center">Price</th>
            <th style="text-align: center">Quantity</th>
          </tr>
        </thead>
        <tr ng-repeat="orderItem in orderItems">
          <td>{{ orderItem.pk.item.itemId }}</td>
          <td>{{ orderItem.pk.item.itemName }}</td>
          <td style="text-align: center">{{ parseFloat(orderItem.pk.item.itemPrice) }}</td>
          <td style="text-align: center">{{ orderItem.quantity }}</td>
          <td style="padding-top: 6px !important; padding-left: 0px !important; width: 38px;">
            <button type="button" class="btn btn-default" aria-label="Left Align" style="width: 40px; height: 25px; padding-top: 2px !important;" ng-click="removeItemFromOrder(orderItem.pk.item.itemId)">
              <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            </button>
          </td>
        </tr>
      </table>
    </div>

    <div class="row" style="float: bottom; padding-left: 10px !important; padding-right: 10px !important;;">
      <div class"col-sm-12">
        <div ng-show="showErrorMessage">
        <span ng-model="message" class="btn btn-primary btn-block" style="background-color:#FF6666;">{{message}}</span>
        </div>
      </div>
    </div>

  </div>

  <!-- Right Panel - Search items -->
  <div class="col-md-6">
    <div class="row">

      <div class="col-md-8">
        <input ng-model="nameFilter" type="text" class="form-control input-lg" placeholder="Search items">
      </div>

      <div class="col-md-4">
        <select ng-model="categoryFilter" ng-init="categoryFilter = ' All '" class="btn btn-primary btn-lg btn-block">
          <option> All </option>
          <option ng-repeat="category in categories">{{ category.categoryType }}</option>
        </select> 
      </div>

    </div>

    <div style="padding-top: 16px; height: 410px; overflow-y: scroll;">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th style="text-align: center">Price</th>
          </tr>
        </thead>
         <tbody>
          <tr ng-repeat="item in items | itemsFilter : nameFilter : categoryFilter">
            <td>{{ item.itemId }}</td>
            <td>{{ item.itemName }}</td>
            <td style="text-align: center">{{ parseFloat(item.itemPrice) }}</td>
            <td style="padding-top: 5px !important; padding-right: 0px !important; width: 70px;"><input ng-model = "quantity" class="form-control" type="number"/ min=1 ng-init="quantity = 1" style="width: 60px; height: 25px;"></td>
            <td style="padding-top: 6px !important; padding-left: 0px !important; width: 38px;">
              <button type="button" class="btn btn-default" aria-label="Left Align" style="width: 38px; height: 25px; padding-top: 2px !important;" ng-click="addItemToOrder(item.itemId, quantity)">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  </div>

  <hr style="border-color: #CCCCCC !important">

    <!-- Footer -->
    <div class="row">
      <div class="col-sm-6">
        <div class="info" style="float: left"> Total:</div>
        <div class="info" style="float: right; padding-right: 25px !important;"> {{ order.total ? parseFloat(order.total) : 0 }} Lei</div>
      </div>
      <div class="col-sm-6" >
        <button class="btn btn-primary btn-lg btn-block" ng-click="closeOrder()" ng-disabled="orderItems.length == 0">Close order</button>
      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!-- Angular App -->
    <script src="/order.management/controllers/orderManagementApp.js"></script>
    <script src="/order.management/controllers/tableController.js"></script>
    <script src="/ngDialog/js/ngDialog.min.js"></script>
  </body>
</html>